select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
}

* {
  font-family: helvetica;
  font-weight: 200;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
